<section>
  <div class="box" [@flyLeftInOut]="'in'">
    <h1>Witamy na stronie pizzerii Del Piero.</h1>

    <h3>
      Na wstępie pragniemy Państwa uraczyć garstką informacji na temat pizzy, którą serwujemy. Pochodzi ona z Francji
      – gdzie szef naszej kuchni, przez kilka lat zdobywał doświadczenie w ekskluzywnej pizzerii.
    </h3>

    <h3>
      Wystrój naszego lokalu jest elegancki oraz nowoczesny . Podawana w nim pizza swym smakiem uraczy najwybredniejsze
      podniebienia. Jesteśmy przekonani, że niską ceną mile zaskoczymy odwiedzających nas klientów.
    </h3>
    <h2>
      Kontakt
    </h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1291.5616605394928!2d21.15463284972239!3d49.651975607365756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x87fd80b3cf1b4e7f!2sDel%20Piero%20Gorlice!5e0!3m2!1spl!2spl!4v1640464034562!5m2!1spl!2spl"
      width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <h4>Pizzeria “Del Piero”</h4>
    <h4>38-300 Gorlice</h4>
    <h4>ul. Kościuszki 42m</h4>

    <h4>Tel.: 516 461 135</h4>
    <h4>www.delpiero.gorlice.pl</h4>
  </div>
</section>
